<h1>
  <strong>Hello, {{ deliveryman }}!</strong>
</h1>
<h3>
  <p>Welcome to FastFeet!</p>
</h3>

<p>We have just created your account. Here's the info you need to log into to app:</p>
<p>
  <div class="info">
    <h4>Account</h4>
    <strong>Created on:</strong><div>{{ created_at }}</div>
    <strong>Your ID:</strong><div>{{ deliveryman_id }}</div>
    <h4>Instructions</h4>
    <p>You're pretty close to starting working. <a href="#">Download the app</a> and login using your ID. <b>Don't worry you don't need a password.</b></p>
    <p>We'll be more than glad to assist you if anything comes up.</p>
  </div>
</p>

<hr />
<p>Welcome again and best of luck!</p>
